<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:src="@{/css/familyPage.css}">
</head>
<body>

<h1>Добро пожаловать на страцицу семьи. Вы вошли как <span th:text="${#authentication.name}"></span></h1>
<div id="mainContainer">
    <button id="button1">Посмотреть список членов семьи</button>
    <button id="button2">Посмотреть состояние счета семьи</button>
    <button id="button3">Добавить деньги на счет</button>
    <button id="button4">Снять деньги со счета</button>
    <button id="button5" sec:authorize="hasRole('ROLE_ADMIN')">Наложить ограничения на снятие средств</button>
    <button id="buttonLogout"><a th:href="@{/logout}">Выйти</a></button>
<div id="pushContainer"></div>
</div>

<script th:src="@{/js/app.js}"></script>
</body>
</html>