<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Добавление нового пользователя в семью</h3>
<p></p>
<form method="post" th:action="@{/newMember}">
    <label>Введите фамилию<br>
        <input type="text" name="firstName">
    </label>
    <p></p>
    <label>Введите имя<br>
        <input type="text" name="lastName">
    </label>
    <p></p>
    <label>Введите отчество<br>
        <input type="text" name="patronymic">
    </label>
    <p></p>
    <label>Введите личный логин<br>
        <input type="text" name="memberLogin">
    </label>
    <p></p>
    <label>Введите личный пароль<br>
        <input type="text" name="memberPassword">
    </label>
    <p></p>
    <label>Повторите личный пароль<br>
        <input type="text" name="confirmMemberPassword">
    </label>
    <p></p>
    <label>Введите логин семьи в которую нужно добавить нового пользователя<br>
        <input type="text" name="familyLogin">
    </label>
    <p></p>
    <label>Введите пароль семьи<br>
        <input type="text" name="familyPassword">
    </label>
    <p></p>
    <input type="submit">
</form>

</body>
</html>